span.stars, span.stars span {
    display: inline-block;
    background: url(/static/img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.lightGray {
    color:gray;
}